<h1 class="font-bold text-4xl"><%= t("gallery.image.creating") %></h1>

<%= render "form", image: @image %>

<%= link_to t("gallery.image.images"), image_category_path(@image_category),
  class: "inline-block w-fit border border-gray-200 text-gray-900 bg-white hover:bg-gray-100 hover:text-blue-700 font-medium rounded-lg px-3 py-2" %>
